<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/index.css">

<div class="jumbotron jumbotron-fluid text-white" id="jumbo">
<div class="container">
  <img src="/pictures/ss_logo3.jpg" id="logo" class="img-fluid float-left" alt="Logo">
  <h3 class="" style=" padding-top:73px;">SUNOJA</h3>
  <hr style="border-color:white;">
  <div class="container">
    <!-- <h4>Sunoja Oy</h4> -->
    <p>Sunoja Oy is a product development company specializing in the development of demanding wood products.
      The aim of the activity is to increase the appreciation of Finnish wood and to refine Finnish finewood.
      At the heart of the business is the company's own sawmill unit and a network of several companies,
      which enables flexible and quality implementation of highly diversified and demanding development projects.
      Activities are based on understanding traditions and appreciating them.
      The starting point of the work is high quality and carefully selected raw material and wood quality machining methods.</p>
  </div>

  <hr style="border-color:white;">
</div>
</div>

<% include ./partials/footer %>
