<!DOCTYPE html>
<html>
    <head>
        <title>Sunojan Saha</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    </head>
    <body>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/pictures/sunoja_116.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h3 class="display-4">SUNOJA</h3>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the first slide.</p>-->
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_119.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_120.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the third slide.</p>-->
            </div>
          </div>
          <!-- Slide Four - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_121.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Five - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_122.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Six - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_123.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Seven - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_125.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Eight - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_128.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Nine - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_129.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Ten - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_134.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
          <!-- Slide Eleven - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/pictures/sunoja_135.jpg')">
            <div class="carousel-caption d-none d-md-block" id="carousel-header">
              <h2 class="display-4">SUNOJA</h2>
              <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
              <!--<p class="lead">This is a description for the second slide.</p>-->
            </div>
          </div>
        <!-- Slide Twelve - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_139.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
        <!-- Slide Thirteen - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_141.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the third slide.</p>-->
          </div>
        </div>
        <!-- Slide Fourteen - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_142.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
        <!-- Slide Fiftheen - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_143.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
        <!-- Slide Sixteen - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_150.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
        <!-- Slide Seventeen - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_151.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
        <!-- Slide Eighteen - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_152.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
        <!-- Slide Nineteen - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_153.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
        <!-- Slide Twenty - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/pictures/sunoja_155.jpg')">
          <div class="carousel-caption d-none d-md-block" id="carousel-header">
            <h2 class="display-4">SUNOJA</h2>
            <a href="/index" class="btn btn-outline-light btn-lg">INFO</a>
            <!--<p class="lead">This is a description for the second slide.</p>-->
          </div>
        </div>
      </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>
    </header>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
